{% extends 'base.html.twig' %}
{% block title %}Hello goods!{% endblock %}
{% block body %}
    <h1>goods</h1>

    {% for good in goods %}
        <div class="shopUnit">
            <img src="{{ asset(good.img) }}" />

            <div class="shopUnitName">
                <?php echo $good['name'] ?>
            </div>
            <div class="shopUnitShortDesc">
                <?php echo $good['desc'] ?>
            </div>
            <div class="shopUnitPrice">
                <?php echo $good['price'] . '$' ?>
            </div>
            <a href="index.php?page=product&id=<?php echo $good['id']; ?>" class="shopUnitMore">
                подробнее
            </a>

            <form action="/index.php?page=cart" method="post">
                <input type="hidden" name="page" value="cart">
                <input type="number" name="count" class="goodsCount" value="1">
                <input type="hidden" name="id" value="<?= $good['id'] ?>">
                <button class="shopUnitToCart">в корзину</button>
            </form>

        </div>
    {% endfor %}
{% endblock %}
